@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.container-general {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 90vh;
  font-family: "Roboto", sans-serif;
  background: url(../../public/assets/ima2.jpg) center center/cover no-repeat;
  transition: all 0.3s;
}

body::-webkit-scrollbar {
  display: none;
}

.tarjetasTinder {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}

.tarjetasTinderContainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  overflow: hidden;
}

.info-card {
  background-color: whitesmoke;
  border-radius: 5px;
  width: 25vw;
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.tarjeta {
  margin-top: 5px;
  width: 20vw;
  height: 45vh;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0px 0px 8px rgb(65, 65, 65);
}

.info-card h2 {
  color: rgb(211, 50, 52);
}

.info-card h3 {
  color: #070707;
  font-size: 1rem;
}

.infoText {
  z-index: -10;
}

.swipe {
  position: absolute;
  overflow: hidden !important;
}

.botonesSwipe {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 10vh;
  justify-content: space-evenly;
}

.botonSwipe {
  background-color: white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 2rem;
  padding: 3vw;
}

.replay {
  color: orange;
}
.close {
  color: red;
}
.star {
  color: blue;
}
.fav {
  color: green;
}
.energy {
  color: purple;
}

.contenedor {
  width: 100%;
  height: 100vh;
}

.buttons {
  width: 40%;
  bottom: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  font-size: 3rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  left: 0;
  right: 0;
  text-align: center;
}

.boton-individual-1 svg,
.boton-individual-2 svg,
.boton-individual-3 svg {
  padding: 0.5rem;
  border-radius: 50%;
}

.boton-individual-1,
.boton-individual-2,
.boton-individual-3 {
  cursor: pointer;
  box-shadow: -5px -2px 10px 2px #c0c0c0d7 inset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: whitesmoke;
}

.boton-individual-1 {
  color: #870000; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #190a05,
    #870000
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #190a05,
    #870000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.boton-individual-2 {
  color: #f7971e; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.boton-individual-3 {
  color: #f85032; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #e73827,
    #f85032
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #e73827,
    #f85032
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.boton-individual-4 {
  color: #76b852; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.boton-individual-2 {
  color: #f7971e; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.boton-individual-3 {
  color: #f85032; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #e73827,
    #f85032
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #e73827,
    #f85032
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* MEDIA QUERYS CARDS */
@media screen and (max-width: 450px){


  .info-card{
    min-width: 80vw;
    margin-top: 1rem;

  }

  .tarjeta{
    min-width: 80%;
  }

  body::-webkit-scrollbar {
    display: none;
  }


}