*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


img {
  width: 100%;
}

.padre {
  width: 100vw;
}

/* ESTILO COMPONENTE HEADER */
.costumBg{
  width: 100vw;
  min-height: 10vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4962359943977591) 60%, rgba(0,0,0,0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.logo-container{
display: flex;
flex: 0 1 auto;
padding: 0px 2rem;
}

.logo-container img{
width: 30px;
}

.dropdown-nav{

padding: 0px 2rem;
display: flex;
flex: 0 1 auto
}

.links-nav{
font-size: 2vh;
display: flex;
flex-flow: row nowrap;
flex: 1 1 100%;
}

.link-nav{
color: white !important;
text-transform: uppercase;
}


.link-nav:hover{
text-shadow: 0 0 8px white;
transition: .3s;

}


.fa-user{
font-size: 20px;
color: white;

}



/* ESTILO FORM SIGN IN*/

.cointainer-all{
  width: 100vw;
  min-height: 83vh;
  background-attachment: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-neon{
  margin: 2rem 0 0 0;
  padding: 1rem;
  min-width: 65vw;
  min-height: 50vh;
  background: #00000052;
  border-radius: 5px;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  overflow: hidden;
  box-shadow: -5px 5px 10px rgb(0, 0, 0);
}


form{
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center ;

}

form h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  align-self: center;
}

.inputs-container{
  min-width: 250px;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  border-right: 1px solid #f8f8f8;
}

label{
  margin: .5rem 0;
}

input{
  padding: .1rem;
  width: 90%;
  color: #ffffff;
  border: unset;
  background-color: #00000028;
  border-bottom: 1px solid #f8f8f8;
  background-image: unset;
}

input:focus{
  outline: none;
  border: 1px solid #f8f8f8;
}

.select-container{
  margin-top: .5rem;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
}

.select-container p {
  padding-right: 1rem;
  margin: auto;
}

select{
  font: normal 1rem 'Roboto';
  background-color: unset;
  color: #ffffff;
  border: unset;
  border-bottom: 1px solid #f8f8f8;

}

select:focus{
  outline: none;
}

#country-select, #gender-select{
  width: 10rem !important;
  background-color: #00000077 !important;
  text-align: center !important;
}

select::-webkit-scrollbar{
  width: 7px;
  background-color: transparent;
}
select::-webkit-scrollbar-thumb{
  background-color: #070707;
  border-radius: 5px;
  border-right: 2px solid #070707;
}

.btns-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  min-height: 50vh;
  padding-left: 1rem;
}

.btns-container p{
  font-size: 1.2rem;
}


.ppal-btn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 90%;
}

.logo-form img{
  width: 4rem;
}

.btn-form{
  margin: 0 .5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid white;
}

.btn-form:hover{
  background: #ebe9e175;
  color: unset;
}


.signUp{
  height: 10vh;
}

/* MEDIA QUERYS DE FORMULARIO */
@media screen and (max-width: 450px){

  .cointainer-all{
    padding: .5rem;
  }

  .form-neon{
    width: 100%;
  }

  .inputs-container{
    width: 100%;
    border: unset;
    margin: 0;
    align-items: center;
  }

  .btns-container{
    min-height: 20vh;
    width: 100%;
    padding: 0;
    justify-content: center
  }

  .btns-container>p{
    display: none;
  }

  .logo-form img{
    display: none
  }
  .ppal-btn{
    display: flex;
    flex-flow: column nowrap;
  }

  .btn-form{
    margin: .5rem 0;
  }

}

/* user PHOTO */
.user-url img{
  border-radius: 50%;
  object-fit: cover;
  width: 35px;
  height: 35px;
}

.link-nav{
  margin-bottom: unset !important;
  font-size: 2vh;
}

@media screen and (max-width: 450px){
  
  .costumeBg{
    justify-content: unset;
  }

  .nav-link{
    padding: 0.5rem, 0.2rem !important
  }

  .dropdown-nav{
    flex: 1 1 auto;
    padding: 0
  }

  .logo-container{
    padding-left: 0.2rem !important;
    flex: 1 1 auto;
    padding: 0
  }


}

/* ESTILO COMPONENTE NAVBAR */
.costumBg{
  width: 100vw;
  min-height: 10vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4962359943977591) 60%, rgba(0,0,0,0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.logo-container{
display: flex;
flex: 0 1 auto;
padding: 0px 2rem;
}

.logo-container img{
width: 30px;
}

.dropdown-nav{

padding: 0px 2rem;
display: flex;
flex: 0 1 auto
}

.links-nav{
font-size: 2vh;
display: flex;
flex-flow: row nowrap;
flex: 1 1 100%;
}

.link-nav{
color: white !important;
text-transform: uppercase;
}


.link-nav:hover{
text-shadow: 0 0 8px white;
transition: .3s;

}


.fa-user{
font-size: 20px;
color: white;

}

/* ESTILO COMPONENTE FOOTER */

footer{
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 17vh;
  background: rgb(7,7,7);
}

.icons-container{
  display: flex;
  flex-flow: row wrap;
  min-width: 25%;
  justify-content: space-evenly;
  }


#telegram,
#twitter,
#github,
#facebook {
  font-size: 30px;
  color: white;
  border-radius: 3px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 15px #0072ff;
}

#twitter {
  animation-delay: 0.3s;
}

#facebook {
  animation-delay: 0.7s;
}

#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
